.embla {
  position: relative;
  /* background-color: rgb(255 255 255 / 12%); */
  background: linear-gradient(1deg, #ffffffd1, transparent);
  padding: 24px;
  max-width: 'auto';
  height: 264px;
  z-index: 2;
  border-radius: 12px;
  margin-top: 1rem;
}

.embla__viewport {
  overflow: hidden;
  width: 102.3%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 57px;
}

.embla__slide {
  position: relative;
  padding-left: 65px;
  min-width: 21%;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 35vh;
  right: 6rem;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  position: absolute;
  z-index: 1;
  top: 30%;
  align-items: center;
  background: #fff;
  color: rgb(15, 23, 43);
  border-radius: 50%;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button--next {
  right: -21px;
}

/* Mobile devices */
@media (max-width: 767px) {
  .embla {
    height: 280px;
  }
  .embla__slide {
    min-width: 100%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .embla__slide {
    min-width: 45%;
  }
}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .embla__slide {
    min-width: 27%;
  }
}
